body{
  background-color: #33ccff;
}

.task-box{
  background-color: #ffff66;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#todo-form input{
  margin: 20px;
  height: 25px;
}

#todo-form button{
  background-color: #ff9900;
  border-radius: 10px;
  height: 30px;
}
